<div class="container">
    <div class="end">
        <a class="logo" href="index.html">Tripo Games</a>
        <p>An Immersive Gaming Experience</p>
    </div>
    <div class="footer">
        <div>
            <h3>Contact</h3>
            <ul>
                <li><a href="mailto:Info@mysite.com">Info@mysite.com</a></li>
                <li>Tel: 123-456-7890</li>
                <li>500 Terry Francine St</li>
                <li>San Francisco, CA 94158</li>
            </ul>
        </div>
        <div>
            <h3>Navigation</h3>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li class="footer-games-dropdown">
                    <button class="footer-games-link">
                        Games
                        <i class="ri-arrow-down-s-line"></i>
                    </button>
                    <ul class="footer-games-menu">
                        <li><a data-id="1" href="../game.html?gameid=1">Kipon</a></li>
                        <li><a data-id="2" href="../game.html?gameid=2">Robotrix</a></li>
                        <li><a data-id="3" href="../game.html?gameid=3">Treasure Box</a></li>
                    </ul>
                </li>
                <li><a href="../careers.html">Careers</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a class="contact-link">Contact</a></li>
            </ul>
        </div>
        <div>
            <h3>Social</h3>
            <ul>
                <li><a href="https://discord.com" target="_blank">Discord</a></li>
                <li><a href="https://www.twitch.tv" target="_blank">Twitch</a></li>
                <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
                <li><a href="https://www.youtube.com" target="_blank">YouTube</a></li>
                <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
                <li><a href="https://www.linkedin.com" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
        <div>
            <h3>Find Us On</h3>
            <div class="download">
                <img src="assets/images/home/app.webp" alt="Download on the App Store" loading="lazy">
                <img src="assets/images/home/google.webp" alt="Get on Google Play" loading="lazy">
            </div>
        </div>
    </div>
</div>