<div class="container">
    <a class="logo" href="../index.html">Tripo Games</a>

    <nav>
        <button class="nav-toggle flex-col" id="nav-toggle" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <ul class="links">
            <li>
                <a class="nav-link" data-page="home" href="../index.html">Home</a>
            </li>

            <li class="games-dropdown">
                <button class="games-link">
                    <span>Games</span>
                    <i class="ri-arrow-down-s-line"></i>
                </button>

                <ul class="games-menu" id="gamesMenu">
                    <li><a data-id="1" href="../game.html?gameid=1">Kipon</a></li>
                    <li><a data-id="2" href="../game.html?gameid=2">Robotrix</a></li>
                    <li><a data-id="3" href="../game.html?gameid=3">Treasure Box</a></li>
                </ul>
            </li>

            <li>
                <a class="nav-link" data-page="careers" href="../careers.html">Careers</a>
            </li>

            <li>
                <a class="nav-link" data-page="about" href="../about.html">About</a>
            </li>

            <li>
                <a class="nav-link contact-link">Contact</a>
            </li>
        </ul>
    </nav>
</div>